@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f6f6f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', serif;
}

h1 {
  font-family: boldstrom, sans-serif;
  color: transparent;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: var(--second-color);
}

::-webkit-scrollbar {
  width: .5rem;
}

::-webkit-scrollbar-track {
  background: var(--default-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--second-color);
}